# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/
android/.gradle/
android/app/build/
android/local.properties
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/xcshareddata/
ios/.symlinks/
macos/Flutter/ephemeral/
macos/.symlinks/
macos/Flutter/Flutter.podspec
windows/flutter/ephemeral/
*.iml
*.hive
*.lock
*.log
*.class

# Firebase
# Add any Firebase related files that should not be committed, such as:
# firebase_credentials.json
# You might have other credentials or configuration files depending on your setup.

# Angular
node_modules/
dist/
tmp/
out-tsc/
.idea/
.vscode/
.sass-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular Firebase Configs
# Add any specific Firebase config files that should not be committed
# src/environments/firebase.config.ts
